.icon{
    padding: 10px;
    border-radius: 50%;
}

.append{
    display: flex;
    align-items: center;
    padding: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info{
    white-space: nowrap;
}